<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="/login" method="POST" id="login-form">
        <h2>로그인</h2>
        <div>
            <label for="username">아이디:</label>
            <input placeholder="아이디 입력" type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">비밀번호:</label>
            <input placeholder="비밀번호 입력" type="password" id="password" name="password" required>
        </div>
        <button id="login-button" type="submit">로그인</button>
    </form>
    <script>
        const form = document.getElementById('login-form');

        form.addEventListener('submit', function (event) {
            const username = document.getElementById('username').value.trim();
            const password = document.getElementById('password').value;

            if (username.length < 4) {
                alert('아이디는 4자 이상 입력해주세요.');
                event.preventDefault();
                return;
            }

            if (password.length < 8) {
                alert('비밀번호는 8자 이상 입력해주세요.');
                event.preventDefault();
                return;
            }
        });
    </script>
</body>

</html>